@model IEnumerable<AgenciaMVC.Models.Destino>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paisDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorDiaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paisDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorDiaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFinal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDestino">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDestino">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDestino">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
